body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: hsl(350, 100%, 88%);
}

#password-section {
    display: block;
}

#password{
    height: 50px; 
    border-color: plum;
    border-radius: 25px; 
    background-color: hsl(341, 47%, 83%);
}

#password:hover{
    background-color: hsl(340, 41%, 89%);
}

#password:not(:placeholder-shown) {
  background-color: hsl(341, 47%, 83%);
}

#content {
    display: none;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: #ff9eb5;
    border-radius: 30px;
    box-shadow: 0 6px 12px rgba(255, 158, 181, 0.4);
}

button:hover{
    background-color: hsl(340, 69%, 71%);
    transform: scale(1.05);
}

button:active{
    background-color: hsl(341, 47%, 83%);
}

.media-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.media-modal.show {
    display: flex;
}

.media-content {
    background: hsl(350, 100%, 88%);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    overflow: auto;
}

img {
    max-width: 100%;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: 10px 0;
    border-radius: 25px;
}

* {
  transition: all 0.3s ease;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid #ffd6dc;
  border-top: 5px solid #ff6f91;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


