body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: hsl(350, 100%, 88%);
}

#password-section {
    display: block;
}

#password{
    height: 50px; 
    border-color: plum;
    border-radius: 25px; 
    background-color: hsl(341, 47%, 83%);
}

#password:not(:placeholder-shown) {
  background-color: hsl(341, 47%, 83%);
  border-color: plum;
}

#content {
    display: none;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: hsl(340, 57%, 64%);
    border: none;
    border-radius: 25px;
}
button:hover{
    background-color: hsl(340, 69%, 71%);
}
button:active{
    background-color: hsl(341, 47%, 83%);
}

.media-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.media-modal.show {
    display: flex;
}

.media-content {
    background: hsl(350, 100%, 88%);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
}

audio, img {
    max-width: 100%;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: 10px 0;
}
