html, body {
    height: 100%;
    margin: 0;
}


body {
    min-height: 100vh; 
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffe4ec, #f8bbd0);
    text-align: center;
}


/* PASSWORD PAGE */
#password-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

#toggle{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    background: #f8bbd0;
    user-select: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #ec407a;
    color: white;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 6px;
}

button:hover {
    background: #d81b60;
}

#error {
    color: red;
    display: none;
}

/* MAIN CONTENT */
#content {
    display: none;
    padding: 20px;
}

.navbar {
    margin-bottom: 15px;
}

.navbar button {
    padding: 8px 15px;
    border-radius: 20px;
    background: #f8bbd0;
}

.navbar button:hover {
    background: #ec407a;
    color: white;
}

.message-box {
    background: white;
    padding: 15px;
    border-radius: 12px;
    margin: 15px auto;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


/* SMOOTH SLIDE */
.message-row {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.message-row.active {
    max-height: 350px; /* must be taller than .messages */
}

.messages {
    flex: 1;
    text-align: justify;
    max-height: 220px;
    overflow-y: auto;
    padding-right: 10px;
}

.message-image img {
    width: 100px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.messages::-webkit-scrollbar {
    width: 6px;
}

.messages::-webkit-scrollbar-thumb {
    background: #f06292;
    border-radius: 10px;
}

.messages::-webkit-scrollbar-track {
    background: #ffe4ec;
}


/* MOBILE */
@media (max-width: 600px) {

    #password-section {
        min-height: 200vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    #password-section h2 {
        font-size: 18px;
        text-align: center;
    }

    input {
        width: 80%;
        max-width: 280px;
    }

    button {
        width: 120px;
    }

    .message{
        max-height: 180px;
    }
    .message-row {
        flex-direction: column;
        align-items: center;
    }

    .message-image img {
        width: 150px;
        margin-top: 10px;
    }

    .message-box {
        max-height: 200px;
    }
}
